<template>
  <!-- 所有城市 -->
  <div 
    class="card text-white mb-4 px-0 box_shadow" :class="{
      bg_1: item.Status==='良好',
      bg_2: item.Status==='普通',
      bg_3: item.Status==='對敏感族群不健康',
      bg_4: item.Status==='對所有族群不健康',
      bg_5: item.Status==='設備維護',
  }">
    <div class="card-header">
      <div class="row">
        <div class="col-8">{{ item.County }}-{{ item.SiteName }}</div>
        <div v-if="cityType" class="col text-right"><i class="far fa-star cursor_pointer" @click="follow(item,index)"/></div>
        <div v-else class="col text-right"><i class="fas fa-star cursor_pointer" @click="unFollow(item,index)"/></div>
      </div>
    </div>
    <div class="card-body">
      <h5 class="card-title text-center mb-0"><span class="font_weight_400 mr-1">AQI</span><span class="font_big">{{ item.AQI }}</span></h5>
      <p class="card-text text-center mb-3">狀態：{{ item.Status }}</p>
    </div>
  </div>  

</template>

<script>
  export default {
    props: {
      item: {
        type:    Object,
        default: function(item){
          return item
        },
        required: true
      },
      index: {
        type:    Number,
        default: function(index){
          return index
        },
        required: true
      },
      cityType: {
        type:    Boolean,
        default: function(allCity){
          return allCity
        },
        required: true
      }
    },
    methods: {
      follow (item,index){
        this.$emit('follow',item,index)
      },
      unFollow (item,index){
        this.$emit('unFollow',item,index)
      }
    },
  }
</script>

<style lang="scss" scoped>
    $green: linear-gradient(#81FBB8,rgba(40, 199, 111, 0.795));
    $yellow:linear-gradient(#f6d365,#fda085);
    $red:linear-gradient(#ec8c69,#ed6ea0);
    $purple:linear-gradient( #ECA1FE 0%, rgba(82, 112, 196, 0.918) 100%);
    $dark:linear-gradient(#667eea,#764ba2);
    .h_100{
        height: 100vh;
    }
    .w_100{
        width: 100%;
    }
    .letter_space{
        letter-spacing: 0.1rem;
    }
    .font_big{
        font-size: 5rem;
    }
    .float_right{
        float: right;
    }
    .font_weight_400{
        font-weight: 400;
    }
    .bg_white{
        background: white;
    }
    .bg_1{
        background: $green;
    }
    .bg_2{
        background: $yellow;
    }
    .bg_3{
        background: $red;
    }
    .bg_4{
        background-image: $purple;
    }
    .bg_5{
        background: $dark;
    }
    .cursor_pointer{
        cursor: pointer;
    }
    .list-complete-item {
        transition: all 1s;
        display: inline-block;
    }
    .list-complete-enter, .list-complete-leave-to{
        opacity: 0;
        transform: translateY(30px);
    }
    .list-complete-leave-active {
        /* position: absolute; */
    }
    .form_style{
        border-style:none none solid none;
    }
    .box_shadow:hover{
      box-shadow: 0 0 12px rgba(0,0,0,0.15);
    }
</style>