<template>
  <nav class="navbar navbar-expand-lg navbar-light py-3">
    <div class="container-fluid px-5">
      <nuxt-link
        to="/"
        class="navbar-brand">NUXT</nuxt-link>
      <button 
        class="navbar-toggler" 
        type="button" 
        data-toggle="collapse" 
        data-target="#navbarTogglerDemo02" 
        aria-controls="navbarTogglerDemo02" 
        aria-expanded="false" 
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"/>
      </button>

      <div 
        id="navbarTogglerDemo02" 
        class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <nuxt-link
              to="/todo"
              class="nav-link">TODO</nuxt-link>
          </li>
          <li class="nav-item">
            <nuxt-link
              to="/air"
              class="nav-link">AIR</nuxt-link>
          </li>
          <li class="nav-item">
            <nuxt-link
              to="/weather"
              class="nav-link">WEATHER</nuxt-link>
          </li>
          <li class="nav-item">
            <nuxt-link
              to="/shoppingcart"
              class="nav-link">SHOP</nuxt-link>
          </li>
          <li class="nav-item">
            <!-- <button @click="changeLayout" class="btn btn-outline-secondary mx-auto">更換layout</button> -->
            <button class="btn btn-outline-secondary ml-2">CART</button>
          </li>
        </ul>      
      </div>
    </div>
    
  </nav>

  
</template>
<script>
  export default {
    methods: {
      changeLayout: function(){
        this.$emit('changeLayout')
      }
    },
  }
</script>

<style>
.px_10{
  padding: 0 10%;
}
.absolute{
  position: absolute
}
</style>
