<template>
  <nav class="navbar navbar-expand-lg navbar-dark py-3">
    <div class="container-fluid px-5">
      <nuxt-link
        to="/"
        class="navbar-brand">NUXT</nuxt-link>
      <button 
        class="navbar-toggler" 
        type="button" 
        data-toggle="collapse" 
        data-target="#navbarTogglerDemo02" 
        aria-controls="navbarTogglerDemo02" 
        aria-expanded="false" 
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"/>
      </button>

      <div 
        id="navbarTogglerDemo02" 
        class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <nuxt-link
              to="/todo"
              class="nav-link">TODO</nuxt-link>
          </li>
          <li class="nav-item">
            <nuxt-link
              to="/air"
              class="nav-link">AIR</nuxt-link>
          </li>
          <li class="nav-item">
            <nuxt-link
              to="/weather"
              class="nav-link">WEATHER</nuxt-link>
          </li>
          <li class="nav-item">
            <nuxt-link
              to="/shoppingcart"
              class="nav-link">SHOP</nuxt-link>
          </li>
          <li class="nav-item">
            <button @click="changeCart" class="btn btn-outline-light ml-2 opacity">CART</button>
          </li>
        </ul>      
      </div>
    </div>
    
  </nav>  
</template>
<script>
  export default {
    methods: {
      changeCart (){
        this.$emit('changeCart')
      }
    },
  }
</script>

<style scoped>
.px_10{
  padding: 0 10%;
}
.absolute{
  position: absolute
}
.opacity{
  opacity: .6;
}
</style>
