<template>

  <transition-group name="list-complete" class="row mt-5 task" tag="div">
    <div class="col-3 list-complete-item" v-for="(item,taskKey) in tasks" :key="item">
      <div class="card p-4">
        <div class="row align-items-center">
          <div class="col">
            <div class="row line_height align-items-center">
              <div class="col-5 font_size_2 font_weight_600 pr-0">{{ item.day }}</div>
              <div class="col-7 line_height_0 font_weight_500 pl-0">{{ item.month }}<br>{{ item.year }}</div>
            </div>
          </div>
          <div class="col font_size_1 font_weight_500 text-right">
            {{ item.taskTitle }}
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-9">
            <input 
              type="text" @keyup.exact="changeHandler(taskKey)" v-model="item.newTodo" class="form-control" @keyup.enter="addTodo(taskKey)" 
              placeholder="任務項目"> 
          </div>
          <div class="col-3">
            <button class="btn bg_gray" :class="{'bg_red':item.button}" @click="addTodo(taskKey)"><span class="font_weight_900 color_white">+</span></button>
          </div>                                                  
        </div>
        <!-- 任務項目  -->
        <div class="row mt-3 todoList" v-for="(todo,itemKey) in tasks[taskKey].todos" :key="todo.id">
          <div class="col-10 pr-0">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" v-model="todo.completed" :id="todo.id">
            </div>    
            <label :for="todo.id" :class="{'opacity_6':todo.completed}">
              {{ todo.title }} 
            </label>                         
          </div>
                            
          <div class="col-2 none">                            
            <button type="button" class="close" @click="removeTodo(taskKey,itemKey)" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>
      </div>                   
    </div>
  </transition-group>

  
</template>

<script>
  export default {
    props: {
      tasks: {
        type:    Array,
        default: function(title){
          return title
        },
        required: true
      }
    },
    methods: {
      addTodo (taskKey){
        this.$emit('addTodo' , taskKey)
      },
      changeHandler (taskKey){
        this.$emit('changeHandler' , taskKey)
      },
      removeTodo (taskKey,itemKey){
        this.$emit('removeTodo',taskKey,itemKey)
      }
    },
  }
</script>
<style scoped>
.bg{
    background: linear-gradient(#FC6C48, #EF5081);
    opacity: .75;
    height: 100vh;
    width: 100%;
}
.color_white{
    color: white
}
.bg_gray{
    background:#DADCE0
}
.bg_red{
    background: #EF746E
}
.font_size_1{
    font-size: 1.5rem
}
.font_size_2{
    font-size: 2rem
}
.opacity_6{
    opacity: .6
}
.letter_space{
    letter-spacing: 0.1rem
}
.font_weight_500{
    font-weight: 500
}
.font_weight_600{
    font-weight: 600
}
.font_weight_900{
    font-weight:900
}
.relative{
    position: relative;
}
.absolute{
    position: absolute
}
.right_0{
    right: 0
}
.card{
    transition: .4s
}
.icon_size{
    width: 40%;
}
.line_height{
    line-height: 1rem
}
.none{
    opacity: 0;
    transition: .3s;
}
.todoList:hover .none{
    opacity: 1;
}.list-complete-item {
    transition: all 1s;
    display: inline-block;
    /* margin-right: 10px; */
}
.list-complete-enter, .list-complete-leave-to{
    opacity: 0;
    transform: translateY(30px);
}
</style>