$black:black;

.bg_black{
    background: $black
}
.page-enter-active, .page-leave-active {
    transition: opacity .5s;
  }
.page-enter, .page-leave-active {
    opacity: 0;
}
.slide-fade-enter-active {
    transition: all 1s;
}
.slide-fade-leave-active {
    transition: all 1s ;
}
.slide-fade-enter, .slide-fade-leave-to {
    transform: translateX(245px);
}