<template>
  <div class="letter_space h_100">
    <div class="row">
      <div class="col">
        <navbar />        
      </div>
    </div> 
    <div class="mx-5">

      <div class="row mx-1 mt-3">
        <div class="col">
          <h3>關注城市：</h3>
        </div>
        <div class="col-3 ml-auto">
          <input 
            type="text" class="form-control" v-model="searchText" 
            placeholder="搜尋城市"> 
        </div>
        <div class="col-3">
          <button v-if="type==='goodAir'" @click="sortByAir" class="btn btn-outline-success w_100">依照空氣較佳地區排序</button>
          <button v-else-if="type==='badAir'" @click="sortByBadAir" class="btn btn-outline-danger w_100">依照空氣較差地區排序</button>
          <button v-else-if="type==='city'" @click="sortByCity" class="btn btn-outline-primary w_100">依照地區排序</button>
        </div>
      </div>

      <!-- 關注城市 -->
      <transition-group name="list-complete" class="row mx-1 mt-4" tag="div">
        <div class="col-3 list-complete-item" v-for="(item,index) in followedCities" :key="item.SiteName">
          <city @unFollow="unFollow" :item="item" :index="index" :cityType="followCity"/>
        </div>
      </transition-group>

      <!-- 分隔線 -->
      <div class="row mx-1">
        <div class="col">
          <hr>
        </div>
      </div>

      <!-- 所有城市 -->      
      <transition-group name="list-complete" class="row mx-1 mt-4" tag="div">
        <div class="col-3 list-complete-item" v-for="(item,index) in filterCities" :key="item.SiteName">
          <city @follow="follow" :item="item" :index="index" :cityType="allCity"/>
        </div>
      </transition-group>
                                   
    </div>   
  </div>

</template>
<script>
  import city from '~/components/city.vue'
  import navbar from '~/components/navbar.vue'
  import Vue from 'vue'
  // import VueNotifications from 'vue-notifications'
  import { mapActions,mapMutations,mapState } from 'vuex'
 
  export default {
    components: {
      navbar,
      city
    },
    data (){
      return{
        searchText: '',
        type:       'goodAir',
        allCity:    true,
        followCity: false
      }
    },
    layout:   'default',
    computed: mapState({
      cities: state=>state.cities,
      filterCities (){       
        if(this.cities.data) {
          return this.cities.data.filter((item)=>{
            return (item.County.match(this.searchText) || item.SiteName.match(this.searchText)) && !this.followedCities.includes(item)
          })
        }      
      },  
      followedCities: state=>state.followCities 
    }),
    methods: {
      follow (city,index){
        this.followCitiesSet(city)
        // this.filterCities.splice(index,1)        
        this.showSuccessMsg({ message: `你關注了${city.County}-${city.SiteName}` })
        console.log(this.$notifications)
      },
      unFollow (city,index){
        this.unFollowCitiesSet(index)
        //寫在computed
        // this.filterCities.push(city)
        this.showWarnMsg({ message: `你取消關注了${city.County}-${city.SiteName}` })
      },
      sortByAir (){
        this.filterCities.sort(function(a, b) {
          return a.AQI - b.AQI;
        });
        this.type = 'badAir'  
      },
      sortByBadAir (){
        this.filterCities.sort(function(a, b) {
          return b.AQI - a.AQI;
        });
        this.type = 'city'
      },
      sortByCity (){
        this.getData()
        this.type = 'goodAir' 
      },
      ...mapActions(['getData']),
      ...mapMutations(['followCitiesSet','changeCitiesSet','unFollowCitiesSet','pushCitiesSet','sortByAirSet','sortByBadAirSet'])
    },
    created () {
      this.getData()
    },
    mounted () {

    },
    notifications: {
      showSuccessMsg: {
        type:    'success',
        title:   'Hello there',
        message: 'That\'s the success!'
      },
      showInfoMsg: {
        type:    'info',
        title:   'Hey you',
        message: 'Here is some info for you'
      },
      showWarnMsg: {
        type:    'warn',
        title:   'Wow, man',
        message: 'That\'s the kind of warning'
      },
      showErrorMsg: {
        type:    'error',
        title:   'Wow-wow',
        message: 'That\'s the error'
      }   
    }
  }
</script>
<style lang="scss" scoped>
    $green: linear-gradient(#81FBB8,rgba(40, 199, 111, 0.795));
    $yellow:linear-gradient(#f6d365,#fda085);
    $red:linear-gradient(#ec8c69,#ed6ea0);
    $purple:linear-gradient( #ECA1FE 0%, rgba(82, 112, 196, 0.918) 100%);
    $dark:linear-gradient(#667eea,#764ba2);
    .h_100{
        height: 100vh;
    }
    .w_100{
        width: 100%;
    }
    .letter_space{
        letter-spacing: 0.1rem;
    }
    .font_big{
        font-size: 5rem;
    }
    .float_right{
        float: right;
    }
    .font_weight_400{
        font-weight: 400;
    }
    .bg_white{
        background: white;
    }
    .bg_1{
        background: $green;
    }
    .bg_2{
        background: $yellow;
    }
    .bg_3{
        background: $red;
    }
    .bg_4{
        background-image: $purple;
    }
    .bg_5{
        background: $dark;
    }
    .cursor_pointer{
        cursor: pointer;
    }
    .list-complete-item {
        transition: all 1s;
        display: inline-block;
    }
    .list-complete-enter, .list-complete-leave-to{
        opacity: 0;
        transform: translateY(30px);
    }
    .list-complete-leave-active {
        /* position: absolute; */
    }
    .form_style{
        border-style:none none solid none;
    }
</style>