<template>
  <div class="letter_space">
    <navbar @changeLayout="changeLayout"/> 
    <section class="container"/>
  </div> 
</template>

<script>
  import navbar from '~/components/navbar.vue'
  export default {
    components: {
      navbar
    },
    layout:  'default',
    methods: {
      changeLayout: function(){
        
      }
    }   
  }
</script>

<style scoped>
.container{
  height: 100vh;
}
.letter_space{
    letter-spacing: 0.1rem
}
.line_height{
  line-height: 80vh;
}
</style>
