<template>
  <div class="letter_space h_100">
    <div class="row">
      <div class="col">
        <navbar @changeCart="changeCart"/> 
        <div class="mx-5">
          <!-- 卡片 -->
          <div class="row mx-1 pt-5">
            <div v-for="(item,index) in $store.state.products" :key="`id-${index}`" class="col-3">
              <div class="card">
                <img class="card-img-top" src="~/assets/images/freshh-connection-799282-unsplash.jpg" alt="Card image cap">
                <div class="card-body text-center">
                  <h5 class="card-title">{{ item.name }}</h5>
                  <p class="card-text">{{ item.context }}</p>
                  <button type="button" class="btn btn-outline-primary">加入購物車</button>
                </div>
              </div>
            </div>           
            
          </div>
        </div>   
      </div>
      <transition name="slide-fade">
        <div v-if="cartActive" class="col-2 h_100 bg_white">
          購物車區塊
        </div>
      </transition>
    </div>   
  </div>
</template>
<script>
  
  import navbar from '~/components/navbar_white.vue'
  export default {
    components: {
      navbar
    },
    layout: 'blue',
    data (){
      return{
        cartActive: false
      }
    },
    methods: {
      changeCart (){
        this.cartActive=!this.cartActive
      }
    },
    mounted () {
      console.log(this.$store.state.products)
    },
  }
</script>
<style scoped>
    .h_100{
        height: 100vh;
    }
    .letter_space{
        letter-spacing: 0.1rem;
    }
    .bg_white{
        background: white;
    }
</style>