<template>
  <div id="app" class="bg letter_space">
    <navbar />
    <div class="mx-3">
      <div class="mx-5 pt-5">
        <div class="row">
          <div class="col">
            <span class="color_white">未完成</span> <span class="color_white mx-1">|</span> <span class="color_white opacity_6">已完成</span>
          </div>
          <div class="col">
            <div>
              <div class="form-group d-flex relative">
                <input 
                  @keyup.enter="addTask()" @keyup.exact="changeButton()" type="text" class="form-control" v-model="newTask" 
                  placeholder="新增任務卡片"> 
                <button class="btn bg_gray absolute right_0" :class="{'bg_red':taskButton}" @click="addTask()"><span class=" font_weight_900 color_white">+</span></button>                                
              </div>                                                      
            </div>
          </div>
          <div class="col"/>
        </div>
               
        <!-- 任務卡片 -->
        <tasks @removeTodo="removeTodo" @changeHandler="changeHandler" @addTodo="addTodo" :tasks="this.tasks"/>
        
      </div> 
    </div>
          
  </div>
</template>

<script>
  import navbar from '~/components/navbar_white.vue'
  import tasks from '~/components/task.vue'
  export default {
    components: {
      navbar,
      tasks
    },
    data () {
      return{
        newTask:    '',
        taskButton: false,
        tasks:      [               
        ]
      }
    },
    methods: {
      //新增任務項目
      addTodo: function(key){
        let value = this.tasks[key].newTodo.trim();
        var timeStamp = Math.floor(Date.now());
        console.log(value,timeStamp)
        if(!value){
          return
        }
        this.tasks[key].todos.push(
          {
            id:        timeStamp,
            title:     value,
            completed: false
          }
        )
        this.tasks[key].newTodo='';
        this.tasks[key].button=false
      },
      //刪除任務項目
      removeTodo: function(taskKey,itemKey){
        this.tasks[taskKey].todos.splice(itemKey,1)
      },
      //新增任務項目按鈕
      changeHandler: function(key){
        if(this.tasks[key].newTodo!=''){
          console.log(this.tasks[key].newTodo)
          this.tasks[key].button=true
        } else {
          this.tasks[key].button=false
        }                
      },
      //新增任務按鈕
      changeButton: function(){
        if(this.newTask!=''){
          this.taskButton=true
        } else {
          this.taskButton=false
        }
      },
      //新增任務
      addTask: function(){
        let taskValue = this.newTask.trim()
        let today = new Date();
        let year = today.getFullYear();
        let month = today.getMonth();
        let day = today.getDate();
        if(month=="0"){
          month = 'JAN'
        } else if (month=="1"){
          month = 'FEB'
        } else if (month=="2"){
          month = "MAR"
        } else if (month=="3"){
          month = 'APR'
        } else if (month=="4"){
          month = "MAY"
        } else if(month=="5"){
          month = "JUN"
        } else if(month=="6"){
          month = "JUL"
        } else if(month=="7"){
          month = "AUG"
        } else if(month=="8"){
          month="SEP"
        } else if(month=="9"){
          month="OCT"
        } else if(month=="10"){
          month="NOV"
        } else if(month=="11"){
          month = "DEC"
        }
        console.log(year)
        if(!taskValue){
          return
        }
        this.tasks.push(
          {
            taskTitle: taskValue,
            todos:     [],
            newTodo:   '',
            button:    false, 
            year:      year,
            month:     month,
            day:       day
          }
        )
        this.newTask=''
        this.taskButton=false
        console.log(this.tasks)
      }
    },
  }
</script>

<style scoped>
/* *{
    margin: 0;
    padding: 0;
} */
.bg{
    background: linear-gradient(#FC6C48, #EF5081);
    opacity: .75;
    height: 100vh;
    width: 100%;
}
.color_white{
    color: white
}
.bg_gray{
    background:#DADCE0
}
.bg_red{
    background: #EF746E
}
.font_size_1{
    font-size: 1.5rem
}
.font_size_2{
    font-size: 2rem
}
.opacity_6{
    opacity: .6
}
.letter_space{
    letter-spacing: 0.1rem
}
.font_weight_500{
    font-weight: 500
}
.font_weight_600{
    font-weight: 600
}
.font_weight_900{
    font-weight:900
}
.relative{
    position: relative;
}
.absolute{
    position: absolute
}
.right_0{
    right: 0
}
.card{
    transition: .4s
}
.icon_size{
    width: 40%;
}
.line_height{
    line-height: 1rem
}
.none{
    opacity: 0;
    transition: .3s;
}
.todoList:hover .none{
    opacity: 1;
}
</style>
