<template>
  <div class="letter_space 100vh">
    <div class="row">
      <div class="col">
        <navbar/>
      </div>
    </div>
    <div class="mx-5 mt-5">
      <div class="row mx-1 mt-5">
        <div class="col-4">
          <div class="card box_shadow">
            <div class="h_50 bg_sunny p-4 color_white container-fluid relative">
              <div class="row">
                <div class="col">
                  <span class="font_size_city">台北市</span><br>
                  <span class="font_weight_300">Monday July 12</span><br><br>
                  <span class="font_weight_500 font_size_weather">Sunny</span>
                </div>
              </div>  
              <div class="row absolute bottom_0 mb-1">
                <div class="col font_size_tem font_weight_300 mb-1">
                  14°-18°
                </div>
              </div>            
            </div>
            <div class="card-body p-4">
              <div class="row text-center">
                <div class="col">
                  <img src="~assets/images/rainy_icon.svg" alt="">
                </div>
                <!-- <div class="col">
                  <span class="color_gray">降雨</span><br>
                  <span class="color_black">20%</span>
                </div> -->
                <div class="col">
                  <img src="~assets/images/feel_icon.svg" alt="">
                </div>
                <!-- <div class="col pl-0">
                  <span class="color_gray">體感</span><br>
                  <span class="color_black">寒冷</span>
                </div> -->
                <div class="col">
                  <img class="icon_height" src="~assets/images/night_icon.svg" alt="">
                </div>
                <!-- <div class="col">
                  今晚
                </div> -->
              </div>
              <div class="row text-center mt-3">
                <div class="col color_black">20%</div>
                <div class="col color_black">寒冷至舒適</div>
                <div class="col color_black">13°-15°</div>
              </div>
            </div>
          </div>
        </div> 
               
      </div>
    </div>
  </div>
</template>
<script>
  import navbar from '~/components/navbar.vue'
  import { mapActions,mapMutations,mapState } from 'vuex'

  export default {
    components: {
      navbar
    },
    created () {
      
    },
  }
</script>
<style lang="scss" scoped>
@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
@import url('https://fonts.googleapis.com/css?family=Noto+Serif+TC');
@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);

    .letter_space{
        letter-spacing: 0.1rem
    }
    .font_notoSans{
      font-family: 'Noto Sans TC', sans-serif;
    }
    .font_TC{
      font-family: 'Noto Serif TC', serif;
    }
    .color_white{
      color: white;
    }
    .color_gray{
      color: #BCBDC0
    }
    .color_black{
      color: #58585A
    }
    .font_size_city{
      font-size: 1.6rem
    }
    .font_size_weather{
      font-size: 1.2rem
    }
    .font_yen{
      font-family: 'cwTeXYen', sans-serif;
    }
    .font_size_tem{
      font-size: 4rem;
    }
    .font_weight_300{
      font-weight: 300
    }
    .font_weight_500{
      font-weight: 500
    }
    .h_100{
      height: 100vh;
    }
    .h_50{
      height: 50vh;
    }
    .bg_sunny{
      background: url('~assets/images/sunny.svg') no-repeat 50% 50%;
      background-size: cover;
    }
    .bg_cloud{
      background: url('~assets/images/cloud.svg') no-repeat 50% 50%;
      background-size: cover;
    }
    .bg_ranny{
      background: url('~assets/images/ranny.svg') no-repeat 50% 50%;
      background-size: cover;
    }
    .relative{
      position: relative;
    }
    .absolute{
      position: absolute;
    }
    .bottom_0{
      bottom: 0;
    }
    .icon_height{
      height: 2.2rem;
    }
    .card{
      border-radius: 20px;
      overflow: hidden;
    }
    .box_shadow{
      box-shadow: 0 0 20px rgba(0,0,0,0.2);
    }
</style>